:root {
    --primary: #1a1a2e;
    --secondary: #16213e;
    --light: #0f3460;
    --accent: #e94560;
}

body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--primary);
    color: var(--accent);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-section {
    justify-content: center;
}

.title-text {
    text-align: center;
}

.mid-title-span {
    font-size: 5rem;
    border-bottom: #e94560 2px solid;
    margin-left: 30px;
}

h1 {
    font-size: 4rem;
    border-bottom: #e94560 2px solid;
}

h2 {
    font-size: 3.5rem;
    margin: 10px auto;
}

h3 {
    font-size: 2rem;
}

.about-me {
    text-align: center;
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery-solo {
    max-width: 900px;
    margin: 0px auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.solo-img {
    width: 280px;
    padding: 10px;
}

.skill-text {
    margin: 10px 20px;
}

.langs-gallery {
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.card {
    width: 350px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 20px;
    background-color: var(--secondary);

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-bottom: 10px;
}

.card img {
    width: 100px;
    height: 100px;

    padding-right: 20px;
    border-right: var(--light) 2px solid;
}

.card-body {
    padding-left: 20px;
}

.card-body h4 {
    font-size: 1.2rem;
}

.card-body .made-a-cal {
    text-decoration: underline;
}

@media only screen and (max-width: 990px){
    .mid-title-span {
        font-size: 4.5rem;
        border-bottom: #e94560 2px solid;
        margin-left: 30px;
    }
    
    h1 {
        font-size: 3rem;
        border-bottom: #e94560 2px solid;
    }
    
    h2 {
        font-size: 2.5rem;
        margin: 10px auto;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    .about-me {
        font-size: 1.5rem;
    }
    

    .gallery-solo{
        max-width: 90%;
    }

    .solo-img {
        width: 40%;
    }

    .skill-text {
        text-align: center;
        margin: 10px 10px;
    }

    .card {
        width: 90%;
        margin-right: 10px;
    }
}